<section class="container">
  <form class="formulario" (ngSubmit)="transferir()">
    <h2 class="formulario_titulo">Nova Transferencia</h2>

    <div class="form-field">
      <label for="valor" class="form-field_label">Valor</label>
      <input type="number" id="valor" class="form-field_input" [(ngModel)]="valor" name="valor">
    </div>

    <div class="form-field">
      <label for="destino" class="form-field_label">Destino</label>
      <input type="text" id="destino" class="form-field_input" [(ngModel)]="destino" name="destino">
    </div>

    <div class="botao-wrapper">
      <button class="botao">Transferir</button>
    </div>
  </form>
</section>

